.container {
  background-color: lightslategrey;
  width: 50%;
  margin: 0 auto;
  padding: 40px;
  position: relative;
}

h1 {
  width: fit-content;
  margin: 0 auto;
  color: white;
  margin-bottom: 10px;
  ;
}

.slider {
  position: relative;
  border: 2px solid white;
  border-radius: 5px;
  width: 264px;
  height: 264px;
  margin: 0 auto;
  /* overflow: hidden; */
}



.img {
  width: 264px;
  position: absolute;
  left: 0;
  transition: all ease 1s;
}

.control {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
  position: absolute;
}

.control:hover {
  background-color: lawngreen;
}

.control:active {
  background-color: green;
}

.control.left {
  top: 50%;
  left: calc(34% - 264px/2);
}

.control.right {
  top: 50%;
  right: calc(34% - 264px/2);
}